.product-details {
  .carousel {
    margin-bottom: 1rem;
    overflow: hidden;

    &-inner {
      height: 100%;
    }

    &-item {
      height: 100%;
      text-align: center;
    }

    &-image {
      max-width: 100%;
      height: auto;
    }

    &-indicators {
      li {
        width: 12px;
        height: 12px;
        margin: 0 0.3rem;
        border-radius: 50%;
      }
    }
  }

  .product-info {
    &__header {
      margin-bottom: 0.8rem;
    }

    &__name,
    &__price {
      @include Inter();
      font-weight: 300;
    }

    &__name {
      margin-bottom: 0.2rem;
      font-size: 1.4rem;
    }

    &__price {
      font-size: 1.2rem;
    }

    &__control {
      display: grid;
      grid-template-columns: 20% 1fr;
      align-items: center;
      margin-bottom: 1.5rem;
    }

    &__label {
      margin-bottom: 0;
    }

    &__size {
      &-input {
        max-width: 220px;
        border-radius: 0;
      }
    }

    &__color {
      &-label {
        margin: 0 0.9rem 0 0;
      }

      &-input {
        display: none;

        &:checked + .product-info__color-box::before {
          position: relative;
          top: -5px;
          left: -5px;
          display: block;
          content: '';
          width: 40px;
          height: 40px;
          border: 1px solid $main-black;
        }
      }

      &-box {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .product-info__choice {
        display: flex;
        align-items: center;
      }
    }

    &__amount-input {
      width: 80%;
      border-radius: 0;
      text-align: center;
    }

    &__add-btn {
      @include mainButton();
      max-width: 220px;
    }

    &__stock {
      margin-top: -1.2rem;
      font-size: 0.8rem;
      color: $medium-grey;

      p {
        grid-column: 2 / 3;
        margin: 0;
      }
    }

    &__description {
      display: block;

      &-toggle {
        display: block;
        width: 100%;
        background-color: white;
        margin-bottom: 0.4rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0;
        border-left: none;
        border-right: none;
        @include Inter();
        color: $main-black;
        text-align: left;

        &:not(:disabled):not(.disabled):active {
          background-color: white;
          color: $main-black;
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      &-caret {
        float: right;
      }

      &-body {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}

/* ======================================================================================================== */

// Breakpoints.

@include breakpoint-up(md) {
  .product-details {
    .main-container {
      .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        align-items: start;
      }
    }
  }
}

@include breakpoint-up(lg) {
  .product-details {
    .main-container {
      .container {
        column-gap: 2rem;
      }
    }

    .product-info {
      &__header {
        margin-bottom: 1.4rem;
      }

      &__name {
        margin-bottom: 0.4rem;
        font-size: 1.7rem;
      }

      &__price {
        font-size: 1.4rem;
      }

      &__control {
        margin-bottom: 2rem;
      }

      &__stock {
        margin-top: -1.7rem;
      }
    }
  }
}
