@import './config';

body {
  @include Inter();
  color: $main-black;

  &.disable-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include Quicksand();
}

#root {
  width: 100%;
  overflow: hidden;
}

.main-container {
  min-height: calc(100vh - 230px - 5rem);
  margin: 0 0 5rem;
  padding-top: 60px;
}

input[type='select'],
input[type='text'],
input[type='email'],
textarea.form-control {
  border-radius: 0;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  width: 100%;
  height: 100%;
  background-color: $medium-grey;
  visibility: hidden;
  opacity: 0;
  transition: all $animation-speed ease-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

@import './navbar';

@import './footer';

@import './shop-index';

@import './product-details';

@import './contact';

@import './search-modal';

@import './cart-modal';

/* ======================================================================================================== */

// Breakpoints.

@include breakpoint-up(sm) {
  .main-container {
    padding-top: 65px;
  }
}
